html {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", Sans-serif;
  font-size: 1.1em;
}
.navbar {
  width: 100%;
  max-width: 100%;
  min-height: 2vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all 0.2s ease;
  z-index: 10;
  position: fixed;
  padding: 0 2vw;
  transition: all 0.4s ease-in;
}
.navbar a {
  color: black;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    background-color: white;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff !important;
}
.scrolled a {
  color: black;
}
.logo img {
  width: 50px;
}
.polygone {
  /*Chrome,Safari*/
  -webkit-clip-path: polygon(-3px 424px, 965px 420px, 961px 298px, 0px 405px);

  /*Firefox*/
  clip-path: url("#clipPolygon");
}
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("https://res.cloudinary.com/insidebox/image/upload/v1599196137/PhuketCms/bg.jpg")
    no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notfound h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
  box-shadow: 0px 4px 15px -5px #0046d5;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 142px;
  }
  .notfound .notfound-404 h1 {
    font-size: 112px;
  }
}
